# !!!!!!!!!!!!! DONT USE THIS EXAMPLE FOR PRODUCTION! GO TO https://eventula.lan2play.de/admin/getting_started.html#create-your-docker-compose-yml-file AND GET THE FILES THERE !!!!!!!!!!!!!
services:
  eventula_manager_app:
    build:
      context: .
    working_dir: /web/html/
    volumes:
      - $PWD/src/:/web/html/
      - $PWD/resources/certs:/etc/nginx/certs
      - $PWD/resources/secrets:/run/secrets
    env_file: $PWD/src/.env
    container_name: eventula_manager_app
    networks:
      - lan
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    depends_on:
      - eventula_manager_database
      - mailhog
      - redis

  redis:
    image: redis
    container_name: eventula_manager_redis
    restart: unless-stopped
    networks:
      - lan

  eventula_manager_database:
    image: mysql:9
    volumes:
      - eventula_manager_database:/var/lib/mysql
    env_file: $PWD/src/.env
    ports:
      - 3306:3306
    container_name: eventula_manager_database
    networks:
      - lan
    restart: unless-stopped
  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    restart: unless-stopped
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
    environment:
      - MH_STORAGE=maildir
      - MH_MAILDIR_PATH=/maildir
    volumes:
      - mailhog_data:/maildir
    networks:
      - lan

volumes:
  mailhog_data:
  eventula_manager_database:
    name: eventula_manager_database
networks:
  lan:
    external: true
